.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 20px;
}
.top {
  display: flex;
}
.imgContainer {
  width: 90%;
  height: 400px;
  position: relative;
}
.img {
  object-fit: cover;
}
.date {
  transform: rotate(270deg);
  margin: auto;
}
.title {
  width: 90%;
  font-size: 28px;
  margin-bottom: 20px;
}
.desc {
  width: 90%;
  margin-bottom: 20px;
  font-weight: 400;
  color: gray;
}
.link {
  text-decoration: underline;
  font-size: large;
}
