.container {
  display: flex;
  gap: 100px;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.imageContainer {
  flex: 1;
  position: relative;
}

.brand {
  position: relative;
  width: 500px;
  height: 50px;
  filter: grayscale(1);
}
.h1 {
  font-size: 96px;
}
.des {
  font-size: 20px;
}
.buttonContainer {
  display: flex;
  gap: 20px;
}
.button {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.button:first-child {
  background-color: var(--btn);
  color: white;
}
